article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* VARIABLES */
/* GLOBAL STYLES */
body {
  font-size: 62.5%;
  background: #acffa2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", Arial, sans-serif;
  position: relative; }

h1, h3 {
  padding: 0;
  margin: 0; }

.wrapper {
  max-width: 80%;
  margin: 0 auto; }

main {
  height: 94vh; }

footer {
  height: 6vh;
  color: #f73a6d; }

a {
  color: #f73a6d;
  text-decoration: none; }
  a:hover {
    color: #fdceda; }

/* Credits to https://codepen.io/jackarmley/pen/WvGJPB */
.word {
  height: 20vh;
  margin: 20vh auto 1vh auto;
  color: white;
  font: 700 normal 2.2rem/1.5 "Montserrat", Arial, sans-serif;
  text-shadow: 1px 2px #7bb8e0, 2px 4px #7bb8e0, 3px 6px #7bb8e0, 4px 8px #7bb8e0, 5px 10px #7bb8e0, 6px 12px #7bb8e0, 7px 14px #7bb8e0, 8px 16px #7bb8e0, 9px 18px #7bb8e0, 10px 20px #7bb8e0;
  text-align: center; }

h3 {
  font-size: 1.8rem; }

/* BACKGROUND STYLES */
/* Credits to Clippy for the clip-path code */
.shapeTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #a4ceea;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 46%, 0 71%);
  clip-path: polygon(0 0, 100% 0, 100% 46%, 0 71%);
  z-index: -5; }

/* SUGGESTION SECTION */
.suggestionBox {
  margin: 10vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 60%;
  color: white;
  visibility: hidden; }

.option {
  width: 40%; }

.suggestionBox p, h3 {
  font-size: 1.6rem;
  text-shadow: 1px 2px #f9c716, 2px 4px #f9c716, 3px 6px #f9c716, 4px 8px #f9c716, 5px 10px #f9c716; }

/* BUTTON STYLES */
/* Credits to http://jsfiddle.net/Calou/GCdDt/ for button code*/
button {
  background: #fcb5c8;
  border: none;
  font-size: 1.4rem;
  padding: 1.5rem;
  margin: 2rem auto;
  color: #f73a6d;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 2px #f73a6d, 2px 4px #f73a6d, 3px 6px #f73a6d, 4px 8px #f73a6d, 5px 10px #f73a6d, 0 15px 20px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 2px #f73a6d, 2px 4px #f73a6d, 3px 6px #f73a6d, 4px 8px #f73a6d, 5px 10px #f73a6d, 0 15px 20px rgba(0, 0, 0, 0.35);
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
  transition: -webkit-box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out;
  transition: box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
  text-shadow: 0 -1px 1px #ab0733, 0 0 5px rgba(255, 255, 255, 0.8); }

button:hover {
  background-color: #fdceda;
  text-shadow: 0 -1px 1px #ab0733, 0 0 5px rgba(255, 255, 255, 0.8); }

button:active, button:focus {
  -webkit-box-shadow: 1px 2px #f73a6d, 2px 4px #f73a6d, 3px 6px #f73a6d, 4px 8px #f73a6d, 5px 10px #f73a6d, 0 12px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px #f73a6d, 2px 4px #f73a6d, 3px 6px #f73a6d, 4px 8px #f73a6d, 5px 10px #f73a6d, 0 12px 10px rgba(0, 0, 0, 0.3); }

button:active {
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px); }

/* MEDIA QUERY STYLES */
@media (max-width: 940px) {
  .word {
    height: 35vh;
    margin-top: 5vh; }
  .suggestionBox {
    width: 80%; } }

@media (max-width: 600px) {
  .suggestionBox {
    margin: 2rem 0;
    width: 100%; } }

@media (max-width: 560px) {
  .word {
    font-size: 1.8rem; }
  button {
    font-size: 1.2rem; } }

@media (max-width: 450px) {
  button {
    font-size: 1.0rem; }
  h3 {
    font-size: 1.2rem; } }

@media (max-width: 420px) {
  .word {
    font-size: 1.6rem; } }
